.hero:before {
  content: '';
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/bg2.jpg');
  background-size: cover;
  background-position: center top;
}
.hero:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.35);

}
.hero {
  position: relative;
  box-sizing: border-box;
  padding-top: 46%;
  min-height: 300px;
}
.hero h3 {
  color: #fff;
}
.heroContent {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
}
.heroText {
  font-size: 80px;
  font-weight: 300;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  z-index: 2;
  text-shadow: 0 0 10px #000;
}
.heroCredit {
    text-align: right;
    text-shadow: 0 0 10px #000;
    color: #fff;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 12px;
}

@media all and (max-width: 900px) {

  .heroText {
    font-size: 60px;
  }
}
@media all and (max-width: 600px) {
  .heroText {
    font-size: 30px;
  }
}
