.button {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  min-height: none;
  border: 0;
  padding: 8px 18px;
  line-height: 100%;
}
.buttonBlue {
  background-color: #2F75FA;
}
.hero_image {
  content: '';
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center top;
}
.hero:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(0,0,0);
  background: linear-gradient(126deg, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.5) 54%, rgba(0,0,0,0) 100%);
}
.hero {
  position: relative;
  box-sizing: border-box;
  padding-top: 46%;
  min-height: 380px;
}
.hero h3 {
  color: #fff;
}
.heroContent {
  max-width: 1040px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 2;
  position: absolute;
  top: 30%;
  padding: 20px;
  color: #fff;
}
.heroText {
  font-size: 80px;
  font-weight: 300;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  z-index: 2;
  text-shadow: 0 0 10px #000;
}
.heroCredit {
    text-align: right;
    text-shadow: 0 0 10px #000;
    color: #fff;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 12px;
}

@media all and (max-width: 900px) {
  .heroContent {
    top: 20%;
  }
  .heroText {
    font-size: 60px;
  }
}
@media all and (max-width: 600px) {
  .heroContent {
    top: 10%;
  }
  .heroText {
    font-size: 30px;
  }
}
