.cols {
    white-space: nowrap;
}
.col {
    display: inline-block;
    white-space: normal;
    width: 50%;
    box-sizing: border-box;
    vertical-align: top;
}
.col:first-child {
    width: 60%;
    padding-right: 20px;
}
.col:last-child {
    width: 40%;
}
@media all and (max-width: 600px) {
    .col:first-child {
        width: auto;
        display: block;
        padding: 0 0 20px 0;
    }
    .col:last-child {
        width: auto;
        display: block;
    }
}