.ant-carousel .slick-slide {
  text-align: center;
  height: 460px;
  line-height: 160px;
  background: #f8f8f8;
  overflow: hidden;
}
.ant-carousel {
  padding-bottom: 16px;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}
a:visited, a:hover, a:active, a:focus {
  text-decoration: none;
}
a {
  color: #000;
  padding: 5px 10px;
}
.ml-30 {
  margin-left: 30px;
}
.float-right {
  float: right;
}
.hero:before {
  content: '';
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/greenbook_bg1.jpg');
  background-position: center top;
  filter: blur(2px);
}
.hero:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.75);

}
.hero {
  position: relative;
  min-height: 80vh;
}
.heroText {
  text-align: left;
  font-size: 80px;
  font-weight: 100;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  z-index: 2;
  bottom: 20%;
  left: 50%;
  text-shadow: 0 0 10px #000;
}
.site-card-wrapper {
  background: #ececec;
  padding: 30px;
}